.container {
  margin: 0 auto;
  background-color: white;
  width: 500px;
  height: auto;
  padding: 8px;
  border-radius: 7px;
  margin-top: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.inputField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
}

.inputField label {
  font-weight: bold;
}
